body {
   font-family: Inter, sans-serif;
   background-color: #000;
   color: #fff;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.wrapper {

   flex: 1 0 auto;
}

button {
   background-color: #000;
   border: none;
}

.container {
   max-width: 880px;
   margin: 0 auto;
}

.header__name {
   font-size: 30px;
   font-weight: 500;
}

.header__location {
   font-size: 12px;
   vertical-align: top;
}

.header {
   max-width: 880px;
   margin: 45px auto 80px;
   position: relative;
}


.header::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 1px;
   background-color: #545454;
   margin-top: 40px;
}

.profile__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.profile__info {
   display: flex;
   align-items: center;
}

.infoText__name {
   font-weight: 500;
   font-size: 42px;
   margin: 0 0 14px 0;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.infoText__desc {
   font-weight: 400;
   font-size: 18px;
}

.info__change {
   background-color: #000;
   border: 1px solid #fff;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   min-width: 24px;
   min-height: 24px;
   margin-left: 18px;
   cursor: pointer;
}



.profile__add {
   border: 2px solid #fff;
   width: 150px;
   height: 50px;
   cursor: pointer;
   margin: 0 0 0 20px;
}

.profile__add:hover,
.desc__favorite:hover,
.info__change:hover,
.close-modal:hover,
.close-button:hover {
   opacity: 0.5;
   transition: 0.3s;
}


.photo {
   width: 120px;
   height: 120px;
   border-radius: 100px;
   margin: 0 30px 0 0;
}

.posts {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.post__item {
   color: #000;
   background-color: #fff;
   max-width: 282px;
   border-radius: 10px;
   overflow: hidden;
   margin: 10px 5px;
   position: relative;
}

.item__photo {
   width: 282px;
   height: 282px;
   overflow: hidden;
   align-items: center;
   cursor: pointer;
   border: none;
}

.item__photo-img {
   height: 282px;
   width: 282px;
}

.item__desc {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 25px 15px;
}

.desc__favorite {
   background-color: #fff;
   cursor: pointer;
}

.cart-buttons {
   background-color: #fff;
}

.close-button {
   cursor: pointer;
}



.desc__name {
   font-weight: 900;
   font-size: 24px;
}

.profile {
   margin: 0 0 45px 0;
}




.module {
   max-width: 430px;
   margin: 0 auto;
   color: #000;
   border-radius: 10px;
   background-color: #fff;
}

.modal-fullImage {
   display: none;
}

.module-profile {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   margin-top: 150px;
   display: none;
}

.module-post {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   margin-top: 150px;
   display: none;
}


.module__container {
   display: flex;
   flex-direction: column;
   max-width: 358px;
   margin: 0 auto;
   position: relative;
}

.module__title {
   font-weight: 900;
   font-size: 24px;
   margin: 34px 0 54px 0;
   text-align: center;
}




.wrapper__dark {
   width: 100vw;
   height: 100vh;
   background-color: rgb(0, 0, 0, 0.8);
   position: absolute;
   z-index: 99;
   display: none;
}

.module__input {
   text-decoration: none;
   margin: 0 0 43px 0;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   padding: 0 0 13px 0;
   box-shadow: none
}

input:focus {
   outline: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.module__save {
   background: #000;
   color: #fff;
   height: 50px;
   width: 100%;
   margin: 0 0 37px 0;
   text-align: center;
   cursor: pointer;
}

.hidden {
   display: none;
}

.close-icon {
   position: absolute;
   z-index: 50;
   margin: 22px 15px;
   cursor: pointer;
}


.close-modal {
   position: absolute;
   top: -40px;
   right: -70px;
   cursor: pointer;
}



.modal-fullImage__container {
   margin: 100px auto;
   max-width: 80vw;
   background-color: rgb(56, 56, 56);
   z-index: 200;
   position: relative;

}

.close-modalFullImage {
   position: absolute;
   top: -40px;
   right: -40px;
}

.modal-image {
   height: 80vh;
   width: 80vw;
   margin: 0;
   padding: 0;
}


.footer_container {
   color: #545454;
   flex: 0 0 auto;
   padding-top: 60px;
   padding-bottom: 60px;
}

@media (max-width:900px) {
   .posts {
      max-width: 620px;

   }

   .profile__button {
      width: 282px;
      display: flex;
   }

   .post__item {
      margin: 10px 14px;
   }

   .profile__add {
      width: 100%;
      margin: 30px 0 0 0;
   }



   .profile__container {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
   }

   .container {
      max-width: 620px;
      margin: 0 auto;
   }

}


@media (max-width:640px) {
   .posts {
      max-width: 420px;
      display: flex;
      justify-content: center;
   }

   .module {
      max-width: 220px;
   }

   .module__input {
      margin: 0 5px 43px 5px;
      padding: 0 0 7px 0;
      font-size: 12px;
   }

   .module__title {
      font-size: 20px;
   }

   .profile__button {
      width: 282px;
      display: flex;
   }


   .profile__add {
      width: 100%;
      margin: 30px 0 0 0;
   }


   .post__item {
      margin: 20px 0;
   }

   .profile__container {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
   }

   .container {
      max-width: 420px;
      margin: 0 auto;
   }

   .profile__info {
      display: flex;
      flex-direction: column;
   }

}